body {
  background: #C4D9DA;
  font-family: sans-serif;
}

p {
  margin: 0 0 5px;
}

.search_input{
  width: 600px;
  border: 1px solid rgba(0, 89, 181, 0.82);
  padding: 3px 5px;
  border-radius: 5px;
  height: 20px;
}
.article {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 600px;
  margin: 0 0 15px;
  box-shadow: 2px 2px 5px -1px rgb(4, 58, 133);
  padding: 3px 5px;
  border-radius: 5px;
}

.app{
  position: absolute;
  left: 30%;
  top:0;
  padding-top:70px;
}

.search__button {
  background-color: rgb(118, 197, 64);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 25px;
  width: 200px;
}

.article:hover {
  background: rgb(31, 204, 54);
  box-shadow: 2px 2px 4px rgb(235, 213, 21);
}