body {
  background: #C4D9DA;
  font-family: sans-serif;
}

p {
  margin: 0 0 5px;
}

.search_input{
  width: 600px;
}
.article {
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 600px;
  margin: 0 0 15px;
  box-shadow: 2px 2px 5px -1px rgb(4, 58, 133);
  padding: 3px 5px;
  border-radius: 5px;
}

.app{
  position: absolute;
  left: 30%;
  top:0;
  padding-top:70px;
}